@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500&display=swap'); */

@font-face {
    font-family: "custom";
    src: url('/Fonts/DMSerifText-Regular.ttf');
}

.stroke {
  -webkit-text-stroke: 1px black;
}

::-webkit-scrollbar{
  display: none;
}